@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fef9e1;
}

/* Header & Nav */
header {
  padding: 100px;
  background-color: #6d2323;
  color: #fef9e1;
}

nav {
  margin-top: 1%;
  text-align: right;
}

/* Text */
h1 {
  font-weight: 800;
  margin-top: 3%;
}

.subheader {
  color: #809bce;
  font-size: 20px;
  font-weight: 600;
}

/* Buttons */
.navbutton {
  background-color: #4a90e2;
  padding: 1%;
  border-radius: 10%;
}

button a {
  color: #eeeeee;
  font-weight: 800;
}

/* Layout */
main {
  padding: 5%;
  flex-grow: 1;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 2em;
}

@media (min-width: 768px) {
  .grid2 {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

/* Grid for LOGIN*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
/* Form Styling */
.contact-form-container,
.login-container {
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  text-align: left;
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input,
textarea {
  border: 1px solid #ddd;
  color: #333;
}

/* Footer */
.footer {
  padding: 1%;
  width: 100%;
  background-color: #6d2323;
  color: #fef9e1;
  margin-bottom: 0%;
}

/* Images */
figure {
  margin: 0 0 20px;
  padding: 0;
  display: inline-block;
  max-width: 100%;
}

.buttonpic {
  width: 250px;
  height: auto;
  display: block;
  padding: 20px;
}

figure img:hover {
  transform: rotate(180deg);
  transition: 2s;
}

figcaption {
  text-align: center;
  font-size: 25px;
  margin-top: 8px;
  color: #00174c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

